{
    "job_definitions": [
        {
            "job_type": "S",
            "job_execution_duration": 10,
            "job_probability": 40
        },
        {
            "job_type": "M",
            "job_execution_duration": 40,
            "job_probability": 40
        },
        {
            "job_type": "L",
            "job_execution_duration": 60,
            "job_probability": 10
        },
        {
            "job_type": "X",
            "job_execution_duration": 90,
            "job_probability": 10
        }
    ],
    "user_definitions": [
        {
            "user_type": "F",
            "user_probability": 10,
            "num_jobs": 1
        },
        {
            "user_type": "C",
            "user_probability": 70,
            "num_jobs": 2
        },
        {
            "user_type": "S",
            "user_probability": 20,
            "num_jobs": 6
        }
    ],
    "lambda_users_requests_per_hour": 20
}